<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dottie's</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custombutton.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="topnav">
            @* <h1 class="header__title">Welcome to Dotties Apothecarry</h1> *@
            <nav class="header__nav">
                @* This image is clickable and will act as the home button. *@
                 <input type="image" href="#home" src="img\logo.png" name="button-logo" class="button-home-submit" id="saveForm" />
                <div class="nav_bar">
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                    <a href="#login">Login/Account</a>
                    <a href="#shopping-cart">My Cart</a>
                    <span class="search-bar"><input type="text" placeholder="Search.."></span>
                </div>
                    </div>
                    @* <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                    <input type="text" placeholder="Search..">
                <div class="home-buttons">
                    <span><button class="button-33" role="button">Button 1</button></span>
                    <span><button class="button-33" role="button">Button 1</button></span>
                    <span><button class="button-33" role="button">Button 3</button></span>
                </div> *@
            
                @* <button class="button-49" role="button">@Html.ActionLink("Factory", "Index", "Home")</button>
                <button class="button-49" role="button">@Html.ActionLink("Engineers", "Index", "Engineers")</button>
                <button class="button-49" role="button">@Html.ActionLink("Machines", "Index", "Machines")</button> *@
            </nav>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Dotties Apothecary - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

